#Optional block
octorun-controller:
  name: octorun
  webhook_port: 8080

#mandatory(can be set by env variables)
github:
  org: example
  listen_labels: ["self-hosted", "foo-bar-baz"]
providers:
  - name: test
    connection_uri: "tcp://127.0.0.1:10000"
    labels: ["self-hosted"]
